body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 0px;
}

.main-container {
  max-width: 880px;
  margin: auto;
  margin-top: 32px;
}

.main-container h1 {
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
  line-height: 2;
}

.plan-container {
  display: flex;
  justify-content: space-between;
}

.plan-container li {
  vertical-align: top;
  font-size: 0.75rem;
}

.main-detail {
  font-size: 1rem;
  text-align: center;
  margin-bottom: 64px;
}

.plan-item {
  width: calc((100% - 20px) / 3);
  border: 1px solid #ccc;
  border-radius: 15px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  overflow: hidden;
}

.plan-item:hover {
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.plan-item + .plan-item {
  margin-left: 10px;
}

.plan-item-header {
  text-align: center;
  padding: 16px 24px;
  min-height: 200px;
  display: table;
}

.plan-item-header h2 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 12px;
}

.plan-item-header button {
  padding: 8px 16px;
  background-color: #1b1f23;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 0.65rem;
}

button + button {
  margin-left: 12px;
}

.plan-item-header button:hover {
  background-color: #3f3f3f;
  cursor: pointer;
}

.plan-item-header button.outlined {
  background-color: white;
  color: #1b1f23;
  border: 1px solid #ccc;
}

.plan-item-header button.outlined:hover {
  cursor: pointer;
  border: 1px solid #1b1f23;
}

.plan-item-header .plan-sub-title {
  font-size: 0.75rem;
  margin-bottom: 8px;
}

.plan-item-header .plan-sub-title-2 {
  font-size: 1rem;
  margin-bottom: 8px;
  margin-left: 18%;
  margin-top: 16px;
  text-align: left;
}

.plan-item-header .price {
  position: relative;
  font-size: 1.5rem;
}

.plan-item-header .price::before {
  content: '$';
  position: absolute;
  top: 0px;
  left: -12px;
  font-size: 1rem;
  color: #59636e;
}

.plan-item-header .price::after {
  content: ' per user/month';
  font-size: 0.75rem;
  color: #59636e;
  position: absolute;
  right: -88px;
  top: 0px;
}

.plan-item-header .action-container {
  width: 100%;
  display: table-row;
  vertical-align: bottom;
}

.plan-detail-container {
  background-color: #f6f8fa;
  padding: 8px 16px;
  min-height: 260px;
}

.plan-detail-container li {
  padding: 8px 0px;
  color: #59636e;
  line-height: 1;
  font-size: 0.65rem;
  padding-left: 6px;
}

.plan-detail-container li::marker {
  content: '›';
}

.w-100 {
  width: 100%;
}

.w-50 {
  width: calc((100% - 12px) / 2);
}
